
<div class="div-center">
    <h1>Company Login</h1>
    <mat-card class="example-card" color="accent">


        <mat-card-content>

            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Admin">


                    <mat-form-field class="example-full-width mt" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Ex. name@email.com">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Ex. 123456789">
                    </mat-form-field>
                    <button mat-raised-button color="accent">Login</button>

                </mat-tab>
                <mat-tab label="Employee">


                    <mat-form-field class="example-full-width mt" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Ex. name@email.com">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Ex. 123456789">
                    </mat-form-field>
                    <button mat-raised-button color="accent">Login</button>

                </mat-tab>
                <mat-tab label="Security">


                    <mat-form-field class="example-full-width mt" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Ex. name@email.com">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Ex. 123456789">
                    </mat-form-field>
                    <button mat-raised-button color="accent">Login</button>

                </mat-tab>
                
            </mat-tab-group>


        </mat-card-content>

    </mat-card>
</div>