<mat-toolbar color="primary">

    <span>Admin Panel</span>

    <div class="spacer"></div>

    <div class="my-1">
        <a mat-button routerLink="/admin">Add Employee</a>
        <a mat-button routerLink="/viewEmp">View Employee</a>
        <a mat-button routerLink="/addSec">Add Security</a>
        <a mat-button routerLink="/viewSec">View Security</a>
        <a mat-button routerLink="/leave">Leave Management</a>
        <a mat-button routerLink="/log">View Log</a>
    </div>




</mat-toolbar>