<app-emp-navbar></app-emp-navbar>
<div class="div-center my-15">
    <mat-card class="example-card">
        <h1>View Leave Applications</h1>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Name -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <!-- Description -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <!-- Apply Date -->
                <ng-container matColumnDef="apply_date">
                    <th mat-header-cell *matHeaderCellDef> Apply Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.apply_date}} </td>
                </ng-container>
                <!-- Leave Date -->
                <ng-container matColumnDef="leave_date">
                    <th mat-header-cell *matHeaderCellDef> Leave Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.leave_date}} </td>
                </ng-container>
                <!-- Type -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
                <!-- Update Status -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">

                        <span *ngIf="element.status == 0">
                            Pending
                        </span>
                        <span *ngIf="element.status == 1">
                            Approved
                        </span>
                        <span *ngIf="element.status == -1">
                            Denied
                        </span>


                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>