<app-admin-navbar></app-admin-navbar>

<div class="div-center my-15">
    <mat-card class="example-card">
        <mat-card-content>
            <h1>Search Employee</h1>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Search Employee(By employee id or employee name)</mat-label>
                <input matInput name="inputValue" [(ngModel)]="inputValue" placeholder="Ex. Arjun or 12">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="onSearchEmp()">Search</button>
        </mat-card-content>
    </mat-card>
</div>
<div class="div-center my-15" *ngFor="let i of searchData">
    <mat-card class="example-card">
        <mat-card-content>
            <mat-card-content >



                <mat-form-field class="example-full-width mt" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="Name" matInput value="{{searchData[0].name}}" name="name" [(ngModel)]="searchData[0].name" placeholder="Ex. name@email.com">
                </mat-form-field>
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput value="{{searchData[0].email}}" name="email" [(ngModel)]="searchData[0].email" placeholder="Ex. name@email.com">
                </mat-form-field>
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Age</mat-label>
                    <input type="number" matInput value="{{searchData[0].age}}" name="age" [(ngModel)]="searchData[0].age" placeholder="Ex. name@email.com">
                </mat-form-field>
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput value="{{searchData[0].address}}" name="address" [(ngModel)]="searchData[0].address" placeholder="Ex. name@email.com"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input type="number" matInput value="{{searchData[0].phone}}" name="phone" [(ngModel)]="searchData[0].phone" placeholder="Ex. name@email.com">
                </mat-form-field>
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Salary</mat-label>
                    <input type="number" matInput value="{{searchData[0].salary}}" name="salary" [(ngModel)]="searchData[0].salary" placeholder="Ex. name@email.com">
                </mat-form-field>
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput value="{{searchData[0].password}}" name="password" [(ngModel)]="searchData[0].password" placeholder="Ex. name@email.com">
                </mat-form-field>
                <button mat-raised-button color="warn" (click)="onUpdateEmp(searchData[0].id)">Update</button>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</div>